@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/DMSans.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans-italic";
  src: url("/assets/fonts/DMSans-Italic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DMSans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 15px;
  font-size: 1.8rem;
  letter-spacing: -1.8px;
}

.box-1 {
  padding: 35px 40px;
  background-color: hsl(256, 67%, 59%);
  color: white;
  border-radius: 10px;
  text-align: center;
  letter-spacing: normal;
}

.box-1 img {
  width: 80%;
  height: auto;
}

.box-1 p {
  color: hsl(31, 66%, 93%);
  font-weight: 400;
  font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
}

h1 span {
  color: hsl(39, 100%, 71%);
}

.box-2 {
  padding: 15px;
  color: hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.box-2 img {
  width: 100%;
  height: auto;
}

.box-2 p {
  line-height: 1;
}

.box-3 {
  padding: 15px 15px 0;
  max-height: 225px;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
  overflow: hidden;
}

.box-3 p {
  width: 97%;
  line-height: 1;
  margin-bottom: 10px;
}

.box-3 img {
  width: 70%;
}

.box-4 {
  padding: 20px 15px;
  background-color: hsl(254, 88%, 90%);
  border-radius: 10px;
  text-align: center;
}

.box-4 img {
  width: 100%;
  height: auto;
  margin: 15px 0;
}

.box-5 {
  padding: 20px 0;
  background-color: hsl(256, 67%, 59%);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  line-height: 1;
}

.box-5 img,
.box-5 p {
  width: 50%;
  height: auto;
}

.lighter {
  font-size: 1.2rem;
  letter-spacing: normal;
  color: hsla(0, 0%, 0%, 0.7);
}

.box-6 {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-6 img {
  width: 80%;
  height: auto;
}

.box-6 div {
  font-size: 2.5rem;
}

.box-6 p {
  font-size: 1.2rem;
  color: hsl(0, 0%, 0%, 0.8);
  letter-spacing: normal;
}

.box-7 {
  padding: 25px 15px 20px 25px;
  background-color: hsl(31, 66%, 93%);
  border-radius: 10px;
}

.box-7 p {
  line-height: 1;
  margin-bottom: 20px;
}

.box-7 span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}

.box-7 img {
  width: 100%;
  max-width: 200px;
  height: 90px;
}

.box-8 {
  padding: 20px;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
}

.box-8 img {
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
}

.box-8 p {
  width: 80%;
  line-height: 1;
}

footer {
  font-size: 13px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
